body{
    background: linear-gradient(to right, rgb(41, 41, 41),lightgray);
}
.main{
    position: absolute;
    top: 20%;
    left: 35%;
    padding: 10px 10px 10px 10px;
    align-content: center;
    border:  black double;
}
#input{
    min-width: 370px;
    min-height: 60px;
    font-size: x-large;
    border-radius: 10px;
}
.main button{
    min-width: 90px;
    min-height: 60px;
    background-color: gray;
    color: white;
    margin: 5px 1px 5px 1px;
    font-size: larger;
    border-radius: 10px;
    text-shadow: 2px black;
}
.main button:hover{
    background-color: darkgray;
    color: white;
}
.halfButton{
    min-width: 185px !important;
}